parameters:
    level: 5 # Adjust the analysis level (0-9)
    paths:
        - src # Or the main directory containing your package's source code
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Unsafe usage of new static#'